@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

div.robo-domain h1{
    font-family: 'Dancing Script', cursive;
    font-size: 4.8em;
    margin: 15px 0px 5px 0px;
    padding: 0;
    color: #A1E2D0;
}