body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  background-image: linear-gradient(to left, green 40%, blue);
}

.robo-domain {
  height: 100vh;
  overflow: hidden;
}

div.bot-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.robo-name {
  height: 400px;
  width: 330px;
}