body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  background-image: linear-gradient(to left, green 40%, blue);
}

.robo-domain {
  height: 100vh;
  overflow: hidden;
}

.navbar {
  height: 15vh;
}

.bot-container-scroll {
  height: 85vh;
}

div.bot-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.robo-name {
  height: 400px;
  width: 330px;
}

@media screen and (min-height: 450px) {

  .navbar {
    height: max-content;
  }

  .bot-container-scroll {
    height: 72vh;
  }
}